In [24]:
import sqlite3

In [25]:
#define connection and cursor

In [26]:
connection = sqlite3.connect('transactions.db')

In [27]:
#cursor is used to interact with database with sql commands

In [28]:
cursor=connection.cursor()

In [29]:
#create table example

In [30]:
cmd1 = """ CREATE TABLE IF NOT EXISTS 
stores(store_id INTEGER PRIMARY KEY, location TEXT) """

In [31]:
cursor.execute(cmd1)

In [32]:
#create table example 2

In [33]:
cmd2 = """ CREATE TABLE IF NOT EXISTS 
purchases(purchase_id INTEGER PRIMARY KEY,store_id INTEGER, total_cost FLOAT, FOREIGN KEY(store_id) REFERENCES stores(store_id)) """

In [34]:
cursor.execute(cmd2)

In [35]:
#add data to table 1

In [36]:
cursor.execute("INSERT INTO stores VALUES (01,'Mumbai, MUM')")
cursor.execute("INSERT INTO stores VALUES (02,'Delhi, DEL')")
cursor.execute("INSERT INTO stores VALUES (03,'Bangalore, BLR')")

In [37]:
#add data to table 2

In [38]:
cursor.execute("INSERT INTO purchases VALUES(54,1,15.49)")
cursor.execute("INSERT INTO purchases VALUES(23,3,21.12)")

In [ ]:
#get results select * FROM

In [39]:
cursor.execute("SELECT * FROM purchases")

In [40]:
results=cursor.fetchall()

In [43]:
print(results)

[(23, 3, 21.12), (54, 1, 15.49)]

In [44]:
for r in results:
    print(r)

(23, 3, 21.12)
(54, 1, 15.49)

In [45]:
connection.close()